@model Tales.Web.ViewModels.StatisticsViewModel

<span>Even we sometimes loose track of how many articles we actually have here.  This one helps:</span>


<div class="stats">
    <div class="line">
        <span class="counter">@Model.PostCount</span>
        <span class="caption">Posts</span>
    </div>
    <div class="line">
        <span class="counter">@Model.CommentCount</span>
        <span class="caption">Comments</span>
    </div>
    <div class="line">
        <span class="counter">@Model.UserCount</span>
        <span class="caption">Authors</span>
    </div>
</div>